* {
    font-size: 30px;
    font-family: Impact, sans-serif;
    letter-spacing: 2px;
    color: lightseagreen;
    -webkit-text-stroke: 2px green;
}

.title {
    -webkit-text-stroke: 2px green;
    width: 100%;
    font-size: 45px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: darkcyan;
    padding: 10px 20px;
    text-align: center;
    margin: 0;
    transition: all 0.5s;
}

.title:hover {
    filter: brightness(80%);
    padding: 25px 20px;
    transition: all 0.5s;
}

.title:body {
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ff8585;
    background-image: url(img/youtube.webp);
    background-size: 50px;
    background-repeat: repeat;
    filter: opacity(21%);
    z-index: -1;
}

table {
    width: 100%;
    border: 5px solid darkcyan;
    border-radius: 10px;
    transform: translateY(50%);
    background-color: rgba(0, 255, 255, 0.36);
}

#opis {
    font-size: 25px;
}

.table {
    border: 5px solid darkcyan;
    border-radius: 10px;
}

.icon {
    filter: brightness(100%);
    width: 30px;
    transition: all 0.5s;
}

#navbar {
    text-aling: center;
    transform: translateY(30%);
}


.icon:hover {
    filter: brightness(50%);
    transition: all 0.5s;
}

#link {
    width: 35px;
}
